{% extends "base.html" %}

{% block title %}Add Paddock{% endblock %}

{% block content %}

<!-- templates/add_paddock.html -->
<div class="container px-2 mt-4">
    <h2 class="mb-4">Add New Paddock</h2>
    
    <form action="{{ url_for('add_paddock') }}" method="POST">
        <div class="form-group">
            <label for="name">Paddock Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="area">Paddock Area (ha)</label>
            <input type="number" step="0.01" class="form-control" id="area" name="area" required>
        </div>
        <div class="form-group">
            <label for="dm_per_ha">DM per ha (kg)</label>
            <input type="number" class="form-control" id="dm_per_ha" name="dm_per_ha" required>
        </div>
        
        <div class="d-flex mt-3 mb-4">
            <div class="me-2">
                <button type="submit" class="btn btn-primary">Add Paddock</button>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" onclick="location.href='/paddocks'">Return to Paddock</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}