{% extends "base.html" %}

{% block title %}FMS - Home{% endblock %}

{% block content %}

<p>This farm management system facilitates stock management on a farm. It enables the user (farmer) to simulate the number of livestock (cows) that the farm can support based on the available pasture (grass) for feeding. Livestock are housed in paddocks, which are fenced areas of pasture. </p>
<img src="{{ url_for('static', filename='images/cows.jpg') }}" alt="farm management frontpage" class="img-fluid w-50" />

{% endblock %}