{% extends "base.html" %}
{% block content %}

<div class="container px-2 mt-4">
    <h2 class="mb-4">Paddock Name: {{ paddock_details[1] }}</h2>

    <form action="/paddock_details/edit/update" method="post">
        <!-- the URL and method="post" are crucial for app.py to be able to read the data from this form -->

        <table class="table simple-table">
            <!-- Bootstrap style table -->
            <tr>
                <td>ID</td>
                <td>{{ paddock_details[0] }}
                    <input type="hidden" name="id" id="id" value="{{ paddock_details[0] }}">
                </td>
            </tr>
            <tr>
                <td>Paddock Name</td>
                <td><input type="text" name="name" id="name" value="{{ paddock_details[1] }}"></td>
            </tr>
            <tr>
                <td>Area</td>
                <td><input type="text" name="area" id="area" value="{{ paddock_details[2] }}"></td>
            </tr>
            <tr>
                <td>Dm per ha</td>
                <td><input type="text" name="dm_per_ha" id="dm_per_ha" value="{{ paddock_details[3] }}"></td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

<p><br></p>


{% endblock %}